header{
    display: flex;
    background-color: black;
    justify-content: space-between;
    
      h1{
         color: rgb(238, 238, 222);
      }
      
      .header-logo{
          flex-direction: row;
          align-items: center;
      }

      .header-titulo{
          margin: auto;
          padding: auto;
      }

}
