.galeria{
    background-color: rgb(25, 26, 26);

  .abajo{
      background-color: rgb(26, 24, 24);
  }
  
  body{
      background-color: rgb(22, 21, 21);;
    }
}


.section1{
    background-color: rgb(36, 36, 37);

}
