.submenu{

    

    display: block;
    background-color: rgb(24, 22, 22);
    color: yellow;
    text-align: center;

     .h2-delsubmenu{
         text-align: center;
         text-transform: uppercase;
     }

     .submenu p{
         color: rgb(213, 235, 19);
     }

}